body {
  width: 100%;
  margin: 0 auto;
  position: relative;
  font-family: $base-font;
  z-index: -1;
  color: $dark-grey;
  background-color: white;
}

p {
  font-size: 3vh;
}

a {
  text-decoration: none;
  color: $dark-grey;
}

.clearfix {
  clear: both;
}
