header {
  background-color: $light-grey;
  border-bottom: 1px solid $dark-grey;
  position: fixed;
  z-index: 50;
  height: 60px;
  width: 100%;
  text-align: center;
  display: table;
  top: 0;

  a {
    display: table-cell;
    vertical-align: middle;
  }

  h1 {
    margin: 0;
    color: white;
    font-style: italic;
    font-size: 6vh;

    #d {
      color: $blue;
    }

    #r {
      color: $red;
    }
  }
}
