// Color scheme
$red: #B22234;
$blue: #3C3B6E;
$light-grey: #D6D6D6;
$dark-grey: #53585F;

// Fonts
$base-font: Helvetica;

// Layout
$gutter: 2vh;

//Media Queries
$break-small: 375px;
$break-medium: 768px;
$break-large: 960px;

// Mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-sizing($box-sizing) {
  -webkit-box-sizing: $box-sizing;
  -moz-box-sizing: $box-sizing;
  -ms-box-sizing: $box-sizing;
  box-sizing: $box-sizing;
}

@mixin box-shadow($box-shadow) {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  -ms-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}
