.modal {
  display: none;
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.rep-details {
  h1 {
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.5em;
    margin-top: .2em;
    margin-bottom: 0;
  }
  h3 {
    font-size: 1.25em;
    margin-top: .2em;
  }
  h4 {
    font-size: 1.25em;
  }
  p {
    padding: 0 0;
    margin: .2em;

    &:first-of-type {
      margin: .7em;
    }
  }
  a {
    text-decoration: underline;
  }

}

a.Republican-color, h1.Republican-color {
  color: $red;
}

a.Democratic-color, h1.Democratic-color {
  color: $blue;
}

a.Independent-color, h1.Independent-color {
  color: $dark-grey;
}

#first-time-modal {
  vertical-align: middle;
  position: relative;
  z-index: 2;
  width: 85%;
  background-color: rgba(0, 0, 0, 0.0);
  padding: 15px 30px;
  @include border-radius(0);
  @include box-shadow(none);
  text-align: center;
  margin-top: 50vh;

  h1 {
    color:white;
  }

  a.close-modal {
    display:none;
  }
}
