#officials-page{
  text-align: center;

  p {
    margin: 0 auto;
  }

  a[href="#first-time-modal"] {
    display: none;
  }

  #address-text-container {
    width: 75%;
    background-color: $blue;
    color: white;
    padding-top: $gutter;
    padding-bottom: $gutter;
    margin: 0 auto;
  }

  #address-text p {
    padding-right: $gutter/2;
    padding-left: $gutter/2;
  }

  #rep-list {
    font-size: 80%;
    margin-bottom: $gutter*2;
    @media only screen and (min-width: $break-small) {
      font-size: 60%;
    }
  }
}
