.party-boxes {
  position: relative;

  div {
    margin: 0 auto;
    height: 20vh;
    text-align: center;
  }

  #blue, #red {
    height: 100%;
    max-width: 43%;
    @include border-radius(25px);
    display: inline;

    h1 {
      color: white;
      font-size: 12vh;
      display: table-cell;
      vertical-align: middle;
    }
  }

  #blue {
    margin-right: $gutter;
    @media only screen and (min-width: $break-medium) {
      margin-right: $gutter*5;
    }
  }

  #red {
    margin-left: $gutter;
    @media only screen and (min-width: $break-medium) {
      margin-left: $gutter*5;
    }
  }
}
