.project-info {
  padding: 0 2vh;
  padding-top: 2vh;
  text-align: center;

  h1 {
    font-size: 20px;
    display: inline-block;
    margin: 0 auto;
  }

  p {
    font-size: 18px;
    text-align: justify;
    line-height: 24px;
  }
}
